.map {
  &-mapicon {
    background: rgba(0,104,143,0.50);
    // border: 2px solid #00698F;
    font-family: NunitoSans-SemiBold, sans-serif;
    font-size: 18px;
    color: #F0E900;
    letter-spacing: -0.3px;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-mapiconfade {
    background: rgba(0,104,143,0.20);
    border: 2px solid rgba(0,104,143,0.10);
    font-family: NunitoSans-SemiBold, sans-serif;
    font-size: 18px;
    color: #F0E900;
    letter-spacing: -0.3px;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-mapiconhover {
    background: rgba(234, 233, 125, 0.5);
    border: 2px solid #939E9A;
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 18px;
    color: #F0E900;
    letter-spacing: 0;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-mapiconhighlight {
    background: rgba(0,104,143,0.50);
    border: 2px solid #00698F;
    font-family: NunitoSans-SemiBold, sans-serif;
    font-size: 18px;
    color: #F0E900;
    letter-spacing: -0.3px;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    line-height: 38px;
  }

  &-mapiconhighlight1 {
    border: 2px solid rgba(0,104,143,0.60);
    border-radius: 50%;
  }

  &-mapiconhighlight2 {
    border: 2px solid rgba(0,104,143,0.30);
    border-radius: 50%;
  }

  &-markersingle {
    background: #00698F;
    border: 2px solid #FFFFFF;
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    //width: 26px;
    height: 24px;
    line-height: 22px;
  }

  &-markersingle div.arrow {
    // position: relative;
    // border-style: solid;
    // border-color: #00698F transparent;
    background: #00698F;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    // border-width: 10px 6px 0 6px; /*Arrow w/h is defined by the borders*/
    left: 12px;
    /*(Marker width - arrow width)/2*/
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }

  &-markersingle div.icon {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00698F;
    //width: 24px; /*Same as marker width*/
    // height: 24px; /*Same as marker height*/
    line-height: 24px;
    font-size: 12px;
    // border-radius: 4px;
    // margin-left: 1px;
    // margin-top: 1px;
  }

  &-markersingletransparent {
    background-color: rgba(0,0,0,0);
    border: 0 solid #FFFFFF;
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    //width: 26px;
    height: 24px;
    line-height: 22px;
  }

  &-markersingletransparent div.arrow {
    // position: relative;
    // border-style: solid;
    // border-color: #00698F transparent;
    background: #00698F;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    // border-width: 10px 6px 0 6px; /*Arrow w/h is defined by the borders*/
    left: 12px;
    /*(Marker width - arrow width)/2*/
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }

  &-markersingletransparent div.icon {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00698F;
    //width: 24px; /*Same as marker width*/
    // height: 24px; /*Same as marker height*/
    line-height: 24px;
    font-size: 12px;
    // border-radius: 4px;
    // margin-left: 1px;
    // margin-top: 1px;
  }

  &-markersinglefade {
    background: rgba(0,104,143,0.20);
    border: 2px solid rgba(255,255,255,0.2);
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    //width: 26px;
    height: 24px;
    line-height: 22px;
  }

  &-markersinglefade div.arrow {
    // position: relative;
    // border-style: solid;
    // border-color: #00698F transparent;
    background: rgba(0,104,143,0.20);
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    // border-width: 10px 6px 0 6px; /*Arrow w/h is defined by the borders*/
    left: 12px;
    /*(Marker width - arrow width)/2*/
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }

  &-markersinglefade div.icon {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background: rgba(0,104,143,0.20);
    //width: 24px; /*Same as marker width*/
    // height: 24px; /*Same as marker height*/
    line-height: 24px;
    font-size: 12px;
    // border-radius: 4px;
    // margin-left: 1px;
    // margin-top: 1px;
  }

  &-markersinglehighlight {
    background: #00698F;
    border: 2px solid #F0E900;
    font-family: NunitoSans-Regular, sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    white-space: nowrap;
    //width: 26px;
    height: 24px;
    line-height: 22px;
  }

  &-markersinglehighlight div.arrow {
    // position: relative;
    // border-style: solid;
    // border-color: #00698F transparent;
    background: #00698F;
    border: 2px solid #F0E900;
    border-radius: 50%;
    // border-width: 10px 6px 0 6px; /*Arrow w/h is defined by the borders*/
    left: 12px;
    /*(Marker width - arrow width)/2*/
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }

  &-markersinglehighlight div.icon {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00698F;
    //width: 24px; /*Same as marker width*/
    // height: 24px; /*Same as marker height*/
    line-height: 24px;
    font-size: 12px;
    // border-radius: 4px;
    // margin-left: 1px;
    // margin-top: 1px;
  }

  &-markerdetail {
    height: 60px;
    background-color: #145271;
  }

  &-markerdetail div.words {
    background-color: #145271;
    margin-left: 0;
    /*Shift by half the marker width*/
    //height:80px;
    font-family: NunitoSans-Bold, sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    border: 2px solid #FFFFFF;
    z-index: 500;
    white-space: nowrap;
  }

  &-custompopup .leaflet-popup-content-wrapper {
    background-color: #145271;
    margin-left: 0;
    /*Shift by half the marker width*/
    font-family: NunitoSans-Bold, sans-serif;
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    border: 2px solid #FFFFFF;
    z-index: 500;
    white-space: nowrap;
  }

  &-custompopup .leaflet-popup-content-wrapper a {
    color: rgba(255,255,255,0.1);
  }

  &-custompopup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
  }

  &-custompopup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
  }
  hite-space: nowrap;

  &-markernumber {
    background: rgba(0,104,143,1);
    // border: 2px solid #00698F;
    font-family: NunitoSans-SemiBold;
    font-size: 10px;
    color: #F0E900;
    letter-spacing: -0.3px;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-selectmarkernumber {
    background: rgba(240,233,0,1);
    // border: 2px solid #00698F;
    font-family: NunitoSans-SemiBold;
    font-size: 10px;
    color: #00688F;
    letter-spacing: -0.3px;
    // font-weight:bold;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
  }

  &-popupbar {
    background-color: #ffffff;
  }
}
//Neighborhood Indexes: Crimes Map Legend Styles

.leaflet-marker-icon.selectedMarker {
  border: 10px solid gold;
}

.legend {
  padding: 5px 10px;
  background-color: #f6f6f6;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
