
<div class="modal fade">
    <!--#2491 Added by Ronny Alfonso ralfo040@fiu.edu-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">

                <!-- Change password Form -->
                <form name="changePasswordForm" novalidate="">

                    <div class="form-group has-feedback">
                        <label for="password">Enter Password</label>
                        <input  ng-mouseover="onMouseOver($event)" 
                                ng-mouseleave="onMouseLeave($event)" 
                                ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
                                class="form-control" 
                                id="password" 
                                placeholder="Password" 
                                ng-model="changePasswordParams.new_password" required>
                        <span   class="form-control-feedback" 
                                ng-class="{'icon-eye-none' : !showPassword, 'icon-eye' : showPassword}"
                                style="color: #006990; font-size: 20px; margin-top: 10px"></span>
                        <small class="form-text text-muted">Hover over the input box to show the password. Passwords must be 6 - 12 characters and must contain at least one symbol                            ($, %, @, #, *, &amp;).</small>
                    </div>
                    
                </form>

            </div>
            <div class="modal-footer">
                <button type="submit" ng-click="changeUserPassword()" ng-disabled="changePasswordForm.$invalid" class="btn btn-primary" data-dismiss="modal">Submit</button>
                <button type="button" data-dismiss="modal" ng-click="close()" class="btn">Cancel</button>
            </div>
        </div>
    </div>
    <!-- END #2491-->
</div>
