<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{failModal.title}}</h4>
      </div>
      <div class="modal-body">

          <p>{{failModal.message}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" ng-click="close()" class="btn btn-primary">Okay</button>
      </div>
    </div>
  </div>
</div>