<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">

        <!-- Reset Password Form -->
        <form name="resetForm" novalidate="">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="resest_email" aria-describedby="emailHelp" placeholder="Enter email" ng-model="resetPassword.email"
              required>
            <small id="emailHelp" class="form-text text-muted">If an account with the provided email exists, you'll be allowed to go to the next.</small>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit" ng-click="resetUserPassword()" ng-disabled="resetForm.$invalid" class="btn btn-primary" data-dismiss="modal">Reset Password</button>
        <button type="button" data-dismiss="modal" ng-click="close()" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
